
/* narrom between lines */
.markdown-body {
  padding: 1em;
  line-height: 1.4;
  overflow: hidden;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin: 1em 0 15px;
  padding: 0;
  font-weight: bold;
  line-height: 1.5;
  cursor: text;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* narrow between Indented lines (ul)*/
.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre,
.markdown-body hr {
  margin: 0px 0;
}

/* wide edit area */
#gollum-editor textarea {
  height: 35em;
}

@media all and (min-width: 600px) {
  #wiki-wrapper {
    /*
    max-width: 1600px;
    padding-left:50px;
    padding-right:50px; 
    */
    max-width: 1600px;
    padding-left:30px;
    padding-right:30px; 
  }
}


